.field{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 695px;
    background-color: beige;
    margin: 0 auto;
    padding: 10px;
}

.tbox{
    width: 215px;
    padding-top: 100%;
    background-color: slategray;
    margin: 5px;
}

.tbox:hover{
    background-color: steelblue;
    cursor: pointer;
}

.winner{
    margin-top: 150px;
    font-size: 80px;
    color: white;
    font-family: sans-serif;
    grid-column: 1 / 4;
    grid-row: 1;
}

#gameWon{
    text-align: center;
    vertical-align: middle;
}

.playAgain{
    width: 250px;
    height: 100px;
    background-color: white;
    color: slategrey;
    border: none;
    font-size: 25px;
    cursor: pointer;
    grid-column: 2;
    grid-row: 3;
}

@media screen and (max-width: 769px){
    .field{
        width: 100%;
    }

    .tbox{
        width: 96%;
        margin: 2%;
    }

    .playAgain{
        grid-column: 1/4;
        grid-row: 3;
        width: 70%;
        margin: auto;
    }

    .winner{
        font-size: 200%;
    }
}