body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50vh;
    background-color: darkgray;
}

main{
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: end;
}